body {
  background-image: url(./img/header.jpg);
  border-radius: 20px;
}

header {
  text-align: center;
  margin: 20px;
}

#title {
  font-family: DynaPuff, cursive;
  font-size: 65px;
  color: black;
  text-shadow: 5px 8px 10px white;
  /* padding: 40px;
  width: 40%;
  margin: auto;
  background-image: url(./img/header.jpg);
  border-radius: 20px; */
}

#color-palette {
  text-align: center;
}

.color {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: inline-block;
  margin: 20px 0;
  vertical-align: middle;
}

#button-random-color , #clear-board {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

#pixel-board {
  border: 2px solid pink;
  text-align: center;
  line-height: 0px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}
